* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2982e8;
  background: url(../images/hombreMamado.jpg);
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  height: 35px;
  margin: 30px 0;
  position: relative;
}

.wrapper .input-genero {
  width: 100%;
  margin: 30px 0;
  position: relative;
  margin-bottom: -10px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  color: #ffffff;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #ffffff;
  opacity: 80%;
}

.nombre-apellido {
  display: flex;
  height: 65px;
}

.nombre-apellido .input-box {
  width: 100%;
  height: 35px;
  margin: 30px 0;
  position: relative;
  margin-right: 10px;
}

.input-box input[type="date"] {
  appearance: none;
  opacity: 80%;
}

.input-genero select {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 10px 8px 10px;
  opacity: 80%;
}

select option {
  color: black;
  opacity: 100%;
}

.remember-forgot label input {
  accent-color: #ffff;
  margin-right: 3px;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

::-webkit-calendar-picker-indicator {
  background-color: white;
  border-radius: 5px;
}

.wrapper .link-registrarse {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
  justify-content: space-between;
}

.link-registrarse p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.link-registrarse p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {

  .wrapper h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 5%;
  }

  .wrapper {
    width: 95vw;
    height: 98vh;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0px 0px;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2982e8;
    background: url(../images/hombreMamado.jpg);
    background-size: cover;
    background-position: center;
  }
  .wrapper .input-box {
    width: 100%;
    height: 35px;
    margin: 30px 0;
    position: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    color: #ffffff;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
  }

  .input-box input::placeholder {
    color: #ffffff;
    opacity: 80%;
  }

  .nombre-apellido {
    display: flex;
    height: 65px;
  }
  
  .nombre-apellido .input-box {
    width: 100%;
    height: 35px;
    margin: 30px 0;
    position: relative;
  }

  .wrapper .input-genero {
    width: 100%;
    margin: 30px 0;
    position: relative;
    margin-bottom: -10px;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .wrapper .btn {
    width: 100%;
    height: 40px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }

  .input-box input[type="date"] {
    appearance: none;
    opacity: 80%;
  }

  .boton {
    padding-left: 5%;
    padding-right: 5%;
  }

  .link-registrarse p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
  }

  .wrapper .link-registrarse {
    font-size: 14.5px;
    justify-content: space-between;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

}



